/*
.DS_Store
!/.gitignore
!/README.md

!/aerospace
!/bat
!/borders
!/broot
/broot/*
!broot/conf.hjson
!broot/verbs.hjson
!/colorls
!/gh-dash
!/ghostty
!/lazygit
!/nvim
!/sketchybar
!/tmux
/tmux/plugins
!/zsh
